<html>
<link rel="stylesheet" href="login.component.css">
<mat-toolbar>
  <button mat-button>
    <mat-icon>home</mat-icon>
    <span style="text-decoration: none; color: rgb(63, 16, 190); " routerLink=''>Rar edu</span>
  </button>
</mat-toolbar>
<body>
  <form>
      <div class="container">
    <div class="imgcontainer">
      <img src="https://i1.wp.com/avatar-management--avatars.us-west-2.prod.public.atl-paas.net/default-avatar-1.png?ssl=1" alt="Avatar" class="avatar" width="100"
            height="100">
    </div>


      <label for="uname"><b>Email</b></label> <br>
      <input type="text" placeholder="Enter Email" name="email" required> <br>

      <label for="psw"><b>Password</b></label> <br>
      <input type="password" placeholder="Enter Password" name="psw" required> <br>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>


    <div class="container1" >
      <span class="psw"><a href="#">Forgot password?</a></span>
      <p>Do not have an account? <a routerLink = "/Register">Register</a></p>
    </div>
    </div>
  </form>
</body>

</html>

